<p style="color: green"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th class="text-left"><h2>Content</h2></th>
      <th class="text-center">Generate Content</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Destroy</th>
    </tr>
  </thead>
  <tbody>
    <%= render @content %>
  </tbody>
</table>
<% if @content.content_results.present? %>
  <table class="table">
    <thead>
      <tr>
        <th class="text-left"><h2>Content Results</h2></th>
      </tr>
    </thead>
    <tbody>
      <% @content.content_results.each do |content_result| %>
        <tr>
          <td class=""><%= simple_format(content_result.output_content) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
