<div id="<%= dom_id content_type %>">
  <p>
    <strong>Content type:</strong>
    <%= content_type.content_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= content_type.description %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= content_type.template %>
  </p>

</div>
