<p style="color: green"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th class="text-center">Content Type</th>
        <th class="text-center">Description</th>
        <th class="text-center">Template</th>
        <th class="text-center">Show</th>
        <th class="text-center">Edit</th>
        <th class="text-center">Destroy</th>
    </tr>
  </thead>
  <tbody>
    <%= render @content_type %>
  </tbody>
</table>
